<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} | David van Ochten</title>
  <meta name="description" content="{{description}}">
  <meta name="theme-color" content="#FFFFFF">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <link rel="apple-touch-icon" href="/static/icons/app-icon-144x144.png" sizes="144x144">
  <link rel="apple-touch-icon" href="/static/icons/app-icon-512x512.png" sizes="512x512">
  <link rel="manifest" href="/manifest.json">
  <link rel="preload" href="/static/fonts/1491978/e5716290-d41e-4c97-a27c-7a20a46ddf45.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/1491988/e0d80810-f7e3-4fea-8c57-ef8116f0465d.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="/app.bundle.css">
</head>
  <body style="overflow: hidden;">
    {{> splash}}
    {{> header}}

    {{!-- <div class="layout">
      <input type="checkbox">
      <label></label>
    </div> --}}

    <main class="siteContent" role="main" data-main>
      <div class="spinner" data-spinner></div>
      <div class="page" data-view="{{view}}">
        {{{body}}}
      </div>
    </main>

    <script src="/app.bundle.js"></script>
  </body>
</html>