<!DOCTYPE html>
<html lang="en">
  <head>
    {{> ga}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} — David van Ochten</title>
    <meta name="description" content="{{description}}">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <link rel="preload" href="/static/fonts/neue-haas-unica-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/neue-haas-unica-regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/static/fonts/neue-haas-unica-medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/neue-haas-unica-medium.woff" as="font" type="font/woff" crossorigin>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon-152x152.png" sizes="512x512">
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png" />

    <link rel="canonical" href="https://davidvanochten.com{{canonical}}" />
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/app.bundle.css">
  </head>

  <body data-muted-videos="false">
    {{!-- {{> guides}} --}}

    {{> cursor}}
    {{> splash}}
    {{> header}}

    <main role="main">
      {{{body}}}
    </main>

    {{> footer}}

    <script src="/app.bundle.js" defer></script>
  </body>
</html>