::selection {
  background-color: var(--light-color);
}

a {
  display: inline-block;
  color: var(--light-color);
}

button {
  padding: 0;
  border: 0;
  color: var(--light-color);
  background-color: transparent;
  outline: 0;
}

img,
video {
  width: 100%;
}

p {
  hyphens: auto;
}