a {
  font-family: var(--secondary-font);
  color: var(--dark);
  text-decoration: none;
  outline: none;

  &:focus {
    color: var(--grey-dark);
  }
}

body {
  width: 100vw;
  font-family: var(--primary-font);
	letter-spacing: var(--spacing);
  line-height: var(--bsl);
  color: var(--dark);
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

img {
  width: 100%;
}

input,
textarea {
  font-family: var(--primary-font);
  outline: 0;
  background-color: transparent;
}

:--headings {
  font-family: var(--primary-font);
  font-size: var(--ms-r);
  font-weight: 400;
}

main {
  padding-top: calc(var(--bsl) * 3);
}

picture {
  display: block;
}

strong {
  font-family: var(--secondary-font);
  font-weight: 400;
}

textarea {
  display: block;
  resize: none;
}

::-webkit-input-placeholder {
  color: var(--grey-dark);
}

::-moz-placeholder {
  color: var(--grey-dark);
}