.headline {
  display: inline-block;
  height: calc(var(--bsl) * 9);
  overflow: hidden;
  font-family: var(--display-font);
  font-size: calc(var(--bsl) * 10);
  line-height: calc(var(--bsl) * 10);
}