<article class="contact grid">
  <div class="grid__cell grid__cell--6">
    <h1 class="grid__heading grid__heading--l"><strong>{{{headline}}}</strong></h1>
    <ul>
      <li><a href="" data-bypass>Email</a></li>
      <li><a href="" target="_blank" data-bypass>LinkedIn</a></li>
      <li><a href="" target="_blank" data-bypass>Instagram</a></li>
    </ul>
  </div>
  <div class="contact__form grid__cell grid__cell--18 grid__cell--borderLeft">
    <p class="grid__heading grid__heading--l">Lorem ipsum dolor sit amet, sit eu natum oporteat reprimique, te vel utamur labitur, iudico mnesarchum contentiones mel ei.</p>
    <form class="form form--contact" data-form="contact">
      <input class="form__input" type="text" placeholder="Name *" data-form-input="name" autofocus required>
      <input class="form__input" type="email" placeholder="Email *" data-form-input="email" required>
      <textarea class="form__input" placeholder="Message" data-form-input="message"></textarea>
      <input class="form__submit" type="submit" value="Send ↗" data-form-input="submit">
    </form>
  </div>
</article>