<article class="contact">
  <div>
    <h1 class="headline">
      <strong>{{{headline}}}</strong>
    </h1>
    <ul>
      <li>
        <a href="" data-bypass>Email</a>
      </li>
      <li>
        <a href="" target="_blank" data-bypass>LinkedIn</a>
      </li>
      <li>
        <a href="" target="_blank" data-bypass>Instagram</a>
      </li>
    </ul>
  </div>
  <div class="contact__form">
    <p class="headline">Lorem ipsum dolor sit amet, sit eu natum oporteat reprimique, te vel utamur labitur, iudico mnesarchum contentiones mel ei.</p>
    <form class="form form--contact" data-form="contact">
      <input class="form__input" type="text" placeholder="Name*" data-form-input="name" required>
      <input class="form__input" type="email" placeholder="Email*" data-form-input="email" required>
      <textarea class="form__input" placeholder="Message" data-form-input="message"></textarea>
      <div class="button button--submit">
        <input class="form__submit" type="submit" value="Send" aria-label="Send" data-form-input="submit">
        <svg class="button__icon button__icon--submit" viewBox="0 0 12 12">
          <g>
            <polygon transform="translate(5.688126, 6.288126) rotate(-45.000000) translate(-5.688126, -6.288126) " points="-1.8489649 6.79526004 -1.8489649 5.78099198 13.2252169 5.78099198 13.2252169 6.79526004"></polygon>
            <polygon transform="translate(8.950763, 0.773936) rotate(-45.000000) translate(-8.950763, -0.773936) " points="6.78792025 -0.660455326 7.50886778 -1.37765115 11.1136055 2.20832796 10.3926579 2.92552378"></polygon>
            <polygon transform="translate(11.232734, 2.922793) rotate(-45.000000) translate(-11.232734, -2.922793) " points="9.70432497 5.16044423 8.98337744 4.44324841 12.7611425 0.685142305 13.4820901 1.40233813"></polygon>
          </g>
        </svg>
      </div>
    </form>
  </div>

  {{> footer}}

</article>