<article class="info">
  <header class="info__header">
    <h1>{{title}}</h1>
  </header>
  <div class="info__container">
    <p class="info__section">We've got a 404 on our hands. But don't worry. You might want to check the URL for any typos. Or just go back to the <a href="/">index page</a>.</p>
  </div>
</article>