<article class="default">
  <div class="default__content">
    <h1 class="headline headline--inline"><strong>{{title}}.</strong></h1>
    <p class="headline headline--inline">Don’t worry though, I have other pages you can check out. Like the <a href="/">index page</a>.</p>
  </div>

  {{> footer}}

</article>
