{{!-- Info section --}}
{{!-- Make this DIV 100vw and put it behind the projects DIV to mask the scrollbar --}}
{{!-- Initial value is -50vw on the X-axis, transform to 0vw for a parallax effect --}}
<div class="info">
  <div class="info__container">
    <header>
      <h1 class="info__heading">Dutch developer and digital designer — I got your back when you need a front.</h1>
      <p>Lorem ipsum dolor sit amet, mei noster alienum probatus an, ea mel mollis persius evertitur, dolor em vocibus mel ne. Cum te libris instructior, aeter no eleifend sed in. Mea ipsum libris et, laboramus assueverit an vim.</p>
    </header>
    {{!-- Services --}}
    {{!-- Contact --}}
  </div>
</div>

<div class="projects">
  <div class="projects__list parallax" data-projects-list>
    <article class="project parallax__section" data-project>
      <header class="parallax__layer parallax__layer--1">
        <h1 class="project__headline headline" data-project-toggle>TRa</h1>
      </header>
      <div class="parallax__layer">
        <div class="project__thumbnail" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/tra%20(1).jpg?alt=media&token=0f1e0faa-91a0-4ff3-8ea3-8bd2bbc6584e" alt="">
        </div>
        <div class="project__gallery" data-project-gallery data-project-toggle>
          <img src="http://tomrobertson.com.au/wordpress/wp-content/uploads/2018/08/Tom-Robertson-Architects-Carlton-House-30.jpg" alt="" data-project-gallery-item>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--2">
        <div class="project__info">
          <ul class="project__data u-caps">
            <li>Development</li>
            <li>2018</li>
          </ul>
          <div>
            <p>This slick little Melbourne based architecture studio needed a new website to compliment their work. Designed by Confetti, I took care of the code for this bad boy.</p>
            <button class="project__button u-caps" data-project-toggle>Gallery [<span data-project-gallery-count></span>]</button>
          </div>
        </div>
      </div>
    </article>

    <article class="project parallax__section" data-project>
      <header class="parallax__layer parallax__layer--1">
        <h1 class="project__headline headline" data-project-toggle>mOOD</h1>
      </header>
      <div class="parallax__layer">
        <div class="project__thumbnail" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/mood%20(4).jpg?alt=media&token=d148af5a-9238-469b-a0e4-2d852bd3cd47" alt="">
          {{!-- <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/mood%20(2).jpg?alt=media&token=6d2422d9-4b3f-4080-9fac-bebd200b9a3a" alt=""> --}}
        </div>
        <div class="project__gallery" data-project-gallery data-project-toggle>
          <img src="http://localhost:8888/mood/www/wp-content/uploads/2018/08/Moods1833_web.jpg" alt="">
        </div>
      </div>
      <div class="parallax__layer parallax__layer--2">
        <div class="project__info">
          <ul class="project__data u-caps">
            <li>Development</li>
            <li>2018</li>
          </ul>
          <div>
            <p>IMA is an influencer marketing agency based in Amsterdam. The company received a major brand overhaul and I was asked to design their website to match their hot new looks.</p>
            <button class="project__button u-caps" data-project-toggle>Gallery [6]</button>
          </div>
        </div>
      </div>
    </article>

    <article class="project parallax__section" data-project>
      <header class="parallax__layer parallax__layer--1">
        <h1 class="project__headline headline">BUTCH</h1>
      </header>
      <div class="parallax__layer">
        <div class="project__thumbnail" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/butch%20(1).jpg?alt=media&token=44fc53f4-74a3-4f1a-9e9b-e8ec1c3b57a5" alt="">
        </div>
        <div class="project__gallery" data-project-gallery data-project-toggle>
          <img src="https://cdn.shopify.com/s/files/1/0061/4760/4595/files/Butch-Gallery-16_2160x.jpg?v=1534827620" alt="">
          <video src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/butch-optimized.mp4?alt=media&token=93d864a5-3b12-4c17-861f-d9536827e21a" autoplay loop muted playsinline></video>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--2">
        <div class="project__info">
          <ul class="project__data u-caps">
            <li>Development</li>
            <li>2018</li>
          </ul>
          <div>
            <p>Butch takes care of undies for the burly boys Down Under. Get your briefs and jockstraps while they’re hot. I built this Shopify webshop from scratch. Design by Confetti.</p>
            <button class="project__button u-caps" data-project-toggle>Gallery [5]</button>
          </div>
        </div>
      </div>
    </article>

    <article class="project parallax__section" data-project>
      <header class="parallax__layer parallax__layer--1">
        <h1 class="project__headline headline">ImS</h1>
      </header>
      <div class="parallax__layer">
        <div class="project__thumbnail" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/ims%20(1).jpg?alt=media&token=3f522e77-1c9f-4758-b2db-c0510848aab8" alt="">
        </div>
        <div class="project__gallery" data-project-gallery data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fmvc0z6-intro%402x.jpg?alt=media&token=fb21360b-12b8-40d9-89d3-50481332adc0" alt="">
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.cards.png?alt=media&token=22f95731-e823-4bc2-bb08-5538733940a8" alt="">
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.modal.png?alt=media&token=9d6da231-476f-44dc-aa3b-ef2a200d0425" alt="">
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.user-interface.png?alt=media&token=c6286e1c-785b-426e-9729-783e24fe3517" alt="">
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.card.png?alt=media&token=55ca1081-3f8e-4b2b-b0a9-ae2ac83eee55" alt="">
        </div>
      </div>
      <div class="parallax__layer parallax__layer--2">
        <div class="project__info">
          <ul class="project__data u-caps">
            <li>Design</li>
            <li>Development</li>
            <li>2016</li>
          </ul>
          <div>
            <p>IMS is a platform created for marketing agency IMA that let’s them manage their business — from organising influencers to monitoring projects. I took care of the design and worked on the end of the app.</p>
            <button class="project__button u-caps" data-project-toggle>Gallery [6]</button>
          </div>
        </div>
      </div>
    </article>


    <article class="project parallax__section" data-project>
      <header class="parallax__layer parallax__layer--1">
        <h1 class="project__headline headline">Ima</h1>
      </header>
      <div class="parallax__layer">
        <div class="project__thumbnail" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/ima%20(1).jpg?alt=media&token=ef49ed30-1f66-4f51-be8b-85ee7bd40955" alt="">
        </div>
        <div class="project__gallery" data-project-gallery data-project-toggle>
          <img src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/home@2x.jpg" alt="">
          {{!-- <img src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/grid@2x.jpg" alt=""> --}}
          <img src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/work@2x.jpg" alt="">
          <img src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/news@2x.jpg" alt="">
          <img src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/mobile@2x.jpg" alt="">
          <img src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/contact@2x.jpg" alt="">
        </div>
      </div>
      <div class="parallax__layer parallax__layer--2">
        <div class="project__info">
          <ul class="project__data u-caps">
            <li>Design</li>
            <li>2014</li>
          </ul>
          <div>
            <p>IMA is an influencer marketing agency based in Amsterdam. The company received a major brand overhaul and I was asked to design their website to match their hot new looks.</p>
            <button class="project__button u-caps" data-project-toggle>Gallery [6]</button>
          </div>
        </div>
      </div>
    </article>
  </div>

  <div class="projects__counter u-caps" data-projects-counter>
    <strong data-projects-counter="current"></strong>
    <div data-projects-counter="total"></div>
  </div>
</div>