<aside class="info">
  <div class="info__container">
    <div class="info__content">
      <header>
        <h1 class="info__heading">I got your back when you need a front</h1>
        <div class="info__copy">
          <p>I’m a Dutch developer and web designer, currently based in Melbourne. This Gambian guy once nicknamed me Fixer. He probably meant something else by it, but he wasn’t wrong. I fix you up with stuff. Digital stuff. Front-end, animation or web design.</p>
          <p>The past couple of years I’ve worked with all kinds of companies—from international brands like Samsonite and Tommy Hilfiger to the more niche businesses.</p>
        </div>
      </header>
      <section class="info__section">
        <h1 class="u-caps">Services</h1>
        <ul class="accordion">
          <li class="accordion__item">
            <section>
              <button class="accordion__toggle">
                <h1>Development</h1>
              </button>
            </section>
          </li>
          <li class="accordion__item">
            <section>
              <button class="accordion__toggle">
                <h1>Motion</h1>
              </button>
            </section>
          </li>
          <li class="accordion__item">
            <section>
              <button class="accordion__toggle">
                <h1>Design</h1>
              </button>
            </section>
          </li>
        </ul>
      </section>
      <div class="info__copy">
        <p>Available for new gigs — get in touch.<br>
          <a href="mailto: dwvanochten@gmail.com">dwvanochten@gmail.com</a>
        </p>
        <ul>
          <li>
            <a href="" target="_blank">LinkedIn</a>
          </li>
          <li>
            <a href="" target="_blank">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="info__toggle" data-info-toggle></div>
  </div>
</aside>

<div class="projects">
  <div class="projects__list parallax" data-projects-list>
    <article class="project parallax__section" data-project>
      <header class="parallax__layer parallax__layer--1">
        <h1 class="project__headline headline" data-project-toggle>TRA</h1>
      </header>
      <div class="parallax__layer">
        <div class="project__thumbnail" style="background-color: #171717;" data-project-thumbnail data-project-toggle>
          {{!-- Set srcset --}}
          {{!-- <img
            srcset="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/tra%20(1).jpg?alt=media&token=0f1e0faa-91a0-4ff3-8ea3-8bd2bbc6584e 2000w, 1000w,"
            src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/tra%20(1).jpg?alt=media&token=0f1e0faa-91a0-4ff3-8ea3-8bd2bbc6584e"
            alt=""> --}}
            <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/tra%20(1).jpg?alt=media&token=0f1e0faa-91a0-4ff3-8ea3-8bd2bbc6584e" alt="">
        </div>
        <div class="project__gallery" data-project-gallery data-project-toggle>
          <div class="project__hero">
            {{!-- Set srcset --}}
            <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/Optim2.mp4?alt=media&token=58d142f6-28ef-4a06-8990-fdf2b63af81f" autoplay loop muted playsinline></video>
          </div>
          {{!-- Set data-src and data-src-s per image --}}
          {{!-- Content lazy load --}}
        </div>
      </div>
      <div class="parallax__layer parallax__layer--2">
        <div class="project__info">
          <ul class="project__data u-caps">
            <li>Development</li>
            <li>2018</li>
          </ul>
          <div>
            <p>This slick little Melbourne based architecture studio needed a new website to compliment their work. Designed by Confetti, I took care of the code for this bad boy.</p>
            <button class="project__button" data-project-toggle>Show video</button>
          </div>
        </div>
      </div>
    </article>

    <article class="project parallax__section" data-project>
      <header class="parallax__layer parallax__layer--1">
        <h1 class="project__headline headline">BUTCH</h1>
      </header>
      <div class="parallax__layer">
        <div class="project__thumbnail" style="background-color: #171717;" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/butch-hero-1.jpg?alt=media&token=70eef8f6-7bb4-43ce-9941-8a721f35641f" alt="">
        </div>
        <div class="project__gallery" data-project-gallery data-project-toggle>
          {{!-- <div class="project__hero">
            <img src="https://cdn.shopify.com/s/files/1/0061/4760/4595/files/Butch-Gallery-16_2160x.jpg?v=1534827620" alt="">
          </div> --}}
          {{!-- <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/butch-optimized.mp4?alt=media&token=93d864a5-3b12-4c17-861f-d9536827e21a" autoplay loop muted playsinline></video> --}}
          <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/Optim.mp4?alt=media&token=23f8aed5-751f-4fa0-bd97-62b7874f5d5f" autoplay loop muted playsinline></video>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--2">
        <div class="project__info">
          <ul class="project__data u-caps">
            <li>Development</li>
            <li>2018</li>
          </ul>
          <div>
            <p>Butch takes care of undies for the burly boys Down Under. Get your briefs and jockstraps while they’re hot. I built this Shopify webshop from scratch. Design by Confetti.</p>
            <button class="project__button" data-project-toggle>Watch sample</button>
          </div>
        </div>
      </div>
    </article>

    <article class="project parallax__section" data-project>
      <header class="parallax__layer parallax__layer--1">
        <h1 class="project__headline headline" data-project-toggle>MOOD</h1>
      </header>
      <div class="parallax__layer">
        <div class="project__thumbnail" style="background-color: #2C3B22;" data-project-thumbnail data-project-toggle>
          {{!-- <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/mood%20(2).jpg?alt=media&token=6d2422d9-4b3f-4080-9fac-bebd200b9a3a" alt=""> --}}
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/mood-hero.jpg?alt=media&token=e0a52aa5-0ae3-4cbb-bf1b-710ac678c0c6" alt="">
        </div>
        <div class="project__gallery" data-project-gallery data-project-toggle>
          <div class="project__hero">
            <img data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/mood%20(2).jpg?alt=media&token=6d2422d9-4b3f-4080-9fac-bebd200b9a3a" alt="">
          </div>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--2">
        <div class="project__info">
          <ul class="project__data u-caps">
            <li>Development</li>
            <li>2018</li>
          </ul>
          <div>
            <p>Launches late 2018. Butch takes care of undies for the burly boys Down Under. Get your briefs and jockstraps while they’re hot. I built this Shopify webshop from scratch. Design by Confetti.</p>
            <button class="project__button" data-project-toggle>Show video</button>
          </div>
        </div>
      </div>
    </article>

    <article class="project parallax__section" data-project>
      <header class="parallax__layer parallax__layer--1">
        <h1 class="project__headline headline">IMS</h1>
      </header>
      <div class="parallax__layer">
        <div class="project__thumbnail" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/ims%20(1).jpg?alt=media&token=3f522e77-1c9f-4758-b2db-c0510848aab8" alt="">
        </div>
        <div class="project__gallery" data-project-gallery data-project-toggle>
           <div class="project__hero">
            <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fmvc0z6-intro%402x.jpg?alt=media&token=fb21360b-12b8-40d9-89d3-50481332adc0" alt="">
           </div>
          <img data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.cards.png?alt=media&token=22f95731-e823-4bc2-bb08-5538733940a8" alt="">
          <img data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.modal.png?alt=media&token=9d6da231-476f-44dc-aa3b-ef2a200d0425" alt="">
          <img data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.user-interface.png?alt=media&token=c6286e1c-785b-426e-9729-783e24fe3517" alt="">
          <img data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.card.png?alt=media&token=55ca1081-3f8e-4b2b-b0a9-ae2ac83eee55" alt="">
        </div>
      </div>
      <div class="parallax__layer parallax__layer--2">
        <div class="project__info">
          <ul class="project__data u-caps">
            <li>Design + Development</li>
            <li>2016</li>
          </ul>
          <div>
            <p>IMS is a platform created for marketing agency IMA that let’s them manage their business — from organising influencers to monitoring projects. I took care of the design and worked on the end of the app.</p>
            <button class="project__button" data-project-toggle>Gallery [<span data-project-gallery-count>5</span>]</button>
          </div>
        </div>
      </div>
    </article>


    <article class="project parallax__section" data-project>
      <header class="parallax__layer parallax__layer--1">
        <h1 class="project__headline headline">IMA</h1>
      </header>
      <div class="parallax__layer">
        <div class="project__thumbnail" data-project-thumbnail data-project-toggle>
          <img src="https://imagency.com/images/news/74b4dff0-e998-4a31-8afc-436c3c63101a.jpg" alt="" style="filter: grayscale(1);">
          {{!-- <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/ima%20(1).jpg?alt=media&token=ef49ed30-1f66-4f51-be8b-85ee7bd40955" alt=""> --}}
        </div>
        <div class="project__gallery" data-project-gallery data-project-toggle>
          <div class="project__hero">
            {{!-- Hero image --}}
          </div>
          <img data-src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/home@2x.jpg" alt="">
          <img data-src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/grid@2x.jpg" alt="">
          <img data-src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/work@2x.jpg" alt="">
          <img data-src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/news@2x.jpg" alt="">
          <img data-src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/mobile@2x.jpg" alt="">
          <img data-src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/contact@2x.jpg" alt="">
        </div>
      </div>
      <div class="parallax__layer parallax__layer--2">
        <div class="project__info">
          <ul class="project__data u-caps">
            <li>Design</li>
            <li>2014</li>
          </ul>
          <div>
            <p>IMA is an influencer marketing agency based in Amsterdam. The company received a major brand overhaul and I was asked to design their website to match their hot new looks.</p>
            <button class="project__button" data-project-toggle>Gallery [<span data-project-gallery-count>6</span>]</button>
          </div>
        </div>
      </div>
    </article>
  </div>

  <div class="projects__counter" data-projects-counter>
    <strong data-projects-counter="current"></strong>
    <div data-projects-counter="total"></div>
  </div>
</div>