<div class="projects">
  <aside class="projects__compilation" data-compilation>
    <div class="projects__compilation-trigger">
      <button class="cta" data-compilation-toggle>Work reel</button>
    </div>
    <div class="gallery gallery--compilation" data-compilation-gallery>
      <button class="gallery__toggle gallery__toggle--dark" data-compilation-toggle><span>Close</span></button>
      <div class="gallery__container gallery__container--video">
        <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/reel-semihard-opt.mp4?alt=media&token=3494bb15-38c7-4527-a0f2-3ed2243d9848" loop playsinline></video>
      </div>
    </div>
  </aside>

  <div class="projects__container">
    <article class="project project--wide" data-project="video">
      <div class="project__content">
        <button class="project__thumbnail" aria-label="Show video" data-project-thumbnail data-project-toggle>
          <img alt="Tom Robertson Architecture"
            srcset="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FTRA%2Ftra-hero.jpg?alt=media&token=16fdf74f-46de-478c-b0d2-ed8734031d97 1024w, https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FTRA%2Ftra-hero%402x.jpg?alt=media&token=1c458de0-b87c-4bc2-8f1e-71ed0e173b3a 1440w"
            src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FTRA%2Ftra-hero%402x.jpg?alt=media&token=1c458de0-b87c-4bc2-8f1e-71ed0e173b3a">
        </button>

        <div class="project__gallery gallery" data-project-gallery>
          <button class="gallery__toggle" data-project-toggle><span>Close</span></button>
          <div class="gallery__container gallery__container--video" data-project-gallery-container>
            <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FTRA%2Ftra-audio-fade-opt.mp4?alt=media&token=15295659-5a56-4c6f-bf93-93ea39524a4d" loop playsinline></video>
          </div>
        </div>
      </div>
      <header class="project__header">
        <h1 class="project__headline">
          <button data-project-toggle>Tom Robertson</button>
        </h1>
        <p>Development [<small>2018</small>] — This architecture studio is contemporary cool. Their website wasn’t. So they reached out to Confetti, who gave their site a new lick of paint. I took care of the code.</p>
      </header>
    </article>

    <article class="project project--narrow" data-project="video">
      <div class="project__content">
        <button class="project__thumbnail" aria-label="Show video" data-project-thumbnail data-project-toggle>
          <img alt="Butch Life"
            srcset="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FButch%2Fbutch-hero.jpg?alt=media&token=1d4ad7be-64a7-4f17-b2fc-c9d01d6ed475 960w, https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FButch%2Fbutch-hero%402x.jpg?alt=media&token=8385842c-99f5-4f67-b188-024abb092385 1280w"
            src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FButch%2Fbutch-hero%402x.jpg?alt=media&token=8385842c-99f5-4f67-b188-024abb092385">
        </button>

        <div class="project__gallery gallery" data-project-gallery>
          <button class="gallery__toggle" data-project-toggle><span>Close</span></button>
          <div class="gallery__container gallery__container--video" data-project-gallery-container>
            <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FButch%2Fbutch-small-opt.mp4?alt=media&token=df213b1c-e0d1-4200-a748-fa601bbdec8f" loop playsinline></video>
          </div>
        </div>
      </div>
      <header class="project__header">
        <h1 class="project__headline">
          <button data-project-toggle>Butch</button>
        </h1>
        <p>Development [<small>2018</small>] — This one is strictly for the burly boys out there. Butch takes care of your crown jewels—get their briefs and jockstraps while they’re hot. I built the webstore, Confetti designed it.</p>
      </header>
    </article>

    <article class="project project--full project--offset" data-project="video">
      <div class="project__content">
        <button class="project__thumbnail" aria-label="Show video" data-project-thumbnail data-project-toggle>
          <img alt="Mood"
            srcset="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FMood%2Fmood-hero.jpg?alt=media&token=9a292ff4-382b-443a-9ad4-66c48f60daa5 960w, https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FMood%2Fmood-hero%402x.jpg?alt=media&token=9758be6f-bbe5-4509-b43d-423e43d98cac 1440w"
            src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FMood%2Fmood-hero%402x.jpg?alt=media&token=9758be6f-bbe5-4509-b43d-423e43d98cac">
        </button>

        <div class="project__gallery gallery" data-project-gallery>
          <button class="gallery__toggle" data-project-toggle><span>Close</span></button>
          <div class="gallery__container gallery__container--video" data-project-gallery-container>
            <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FMood%2Fmood-small-loop-2-opt.mp4?alt=media&token=7c51ed2a-5cee-4b5e-af06-3e87f59ee482" loop playsinline></video>
          </div>
        </div>
      </div>
      <header class="project__header">
        <h1 class="project__headline">
          <button data-project-toggle>Mood</button>
        </h1>
        <p>Development [<small>2018</small>] — Craig builds some damn fine furniture. Safe to say he’s good with wood. But he had no way to properly show off his work yet. Until now. Website development by yours truly, groovy designs by Confetti.</p>
      </header>
    </article>

    <article class="project project--narrow" data-project>
      <div class="project__content">
        <button class="project__thumbnail" aria-label="Open gallery" data-project-thumbnail data-project-toggle>
          <img alt="IMS"
            srcset="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fims-hero.jpg?alt=media&token=dab5d699-cca2-4a98-8a6f-1ffed80e86b3 960w, https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fims-hero%402x.jpg?alt=media&token=6574ab95-23f1-44a4-aea0-abc5c66c0b82 1440w"
            src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fims-hero%402x.jpg?alt=media&token=6574ab95-23f1-44a4-aea0-abc5c66c0b82">
        </button>

        <div class="project__gallery gallery" data-project-gallery>
          <button class="gallery__toggle" data-project-toggle><span>Close</span></button>
          <div class="gallery__container" data-project-gallery-container>
            <img alt="Branding — IMS"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fbranding.png?alt=media&token=5384e2c4-ce7a-4d23-9218-46d4cb716520"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fbranding%402x.png?alt=media&token=0bc0e31f-cdb3-4994-b928-b1bab4ab628e">
            <img alt="User interface — IMS"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fui.png?alt=media&token=e8368c89-91af-43f3-a2f8-433851dc09ba"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fui%402x.png?alt=media&token=8ea672b5-436f-4308-92fd-fdb5f4676621">
            <img alt="Modal — IMS"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fmodal.png?alt=media&token=94f9c84d-8ce2-4fc7-adc9-4e0bab20cedd"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fmodal%402x.png?alt=media&token=e186105c-3996-4dc0-b4ea-8b232605b23c">
            <img alt="Cards overview — IMS"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fcards.png?alt=media&token=7027eb53-38eb-4e1e-9661-23ed32088d4f"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fcards%402x.png?alt=media&token=85f440a2-bc92-4ed1-a1dc-c0d854636b42">
            <img alt="Dashboard — IMS"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fdashboard.png?alt=media&token=370080ff-2732-4c65-8412-3e174d06860a"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fdashboard%402x.png?alt=media&token=5ee9c6b3-f3ce-40f6-9a9e-c006bca0d21c">
            <img alt="Card detail page — IMS"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fcard.png?alt=media&token=2be09627-63b8-4bca-bea5-5d68e858e79c"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMS%2Fcard%402x.png?alt=media&token=65f458f5-38ba-4f9f-b53b-d4aa81057efd">
          </div>
        </div>
      </div>
      <header class="project__header">
        <h1 class="project__headline">
          <button data-project-toggle>IMS</button>
        </h1>
        <p>Design and development [<small>2016</small>] — The IMS is a management tool created for the fine folks at IMA that lets them take care of their business—from organising influencers to monitoring their campaigns. I designed and co-developed this web app.</p>
      </header>
    </article>

    <article class="project project--wide" data-project>
      <div class="project__content">
        <button class="project__thumbnail" aria-label="Open gallery" data-project-thumbnail data-project-toggle>
          <img alt="IMA"
            srcset="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fima-hero.jpg?alt=media&token=b81626aa-1a9e-4112-a27e-8c753e504552 960w, https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fima-hero%402x.jpg?alt=media&token=19454558-5f93-4139-a5a9-d9fa74a27432 1440w"
            src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fima-hero%402x.jpg?alt=media&token=19454558-5f93-4139-a5a9-d9fa74a27432">
        </button>

        <div class="project__gallery gallery" data-project-gallery>
          <button class="gallery__toggle" data-project-toggle><span>Close</span></button>
          <div class="gallery__container" data-project-gallery-container>
            <img alt="Home — IMA"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fhome.jpg?alt=media&token=de37ba61-7d17-4d26-858b-c90c337a7e8f"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fhome%402x.jpg?alt=media&token=845c9685-8fdd-470e-ac5c-8b12347765c0">
            <img alt="Grid layout — IMA"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fgrid.jpg?alt=media&token=36c25709-9f97-4d4c-bb9c-ad256c9e7146"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fgrid%402x.jpg?alt=media&token=3fd9e7f3-237d-482a-b0a5-5a77c9e6b920">
            <img alt="Work — IMA"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fwork.jpg?alt=media&token=21b07d4e-e470-4a07-99ee-c389efc5fa9e"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fwork%402x.jpg?alt=media&token=11166859-f106-4e85-ac86-25f9edc74890">
            <img alt="Influencers overview — IMA"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Finfluencers.jpg?alt=media&token=ec35dc4d-2ea6-4c63-a14f-cd16f3c8f6a3"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Finfluencers%402x.jpg?alt=media&token=d03f249a-4b84-4096-bff5-6588bd48a839">
            <img alt="News — IMA"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fnews.jpg?alt=media&token=fa261606-f368-445f-ab0e-c276954e88d4"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fnews%402x.jpg?alt=media&token=9b24065f-ef58-4bb5-9d9e-6bcbbaa00f5c">
            <img alt="Mobile designs — IMA"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fmobile.jpg?alt=media&token=a23cedb5-3639-441f-bb4c-09d6ede37286"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fmobile%402x.jpg?alt=media&token=d85f7364-3ab4-4ee2-a040-22e94237ffee">
            <img alt="Contact — IMA"
              data-src-s="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fcontact.jpg?alt=media&token=7065df0d-33f4-45d5-9f37-bd81f8bcbe47"
              data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/projects%2FIMA%2Fcontact%402x.jpg?alt=media&token=904be265-fe6f-4a2e-9aab-eeb0dc57fcda">
          </div>
        </div>
      </div>
      <header class="project__header">
        <h1 class="project__headline">
          <button data-project-toggle>IMA</button>
        </h1>
        <p>Design [<small>2014</small>] — This Amsterdam based influencer marketing agency was the new kid on the marketing block back in the day. The company received a major brand overhaul and they needed a new website. I designed it.</p>
      </header>
    </article>
  </div>
</div>

<section class="info" data-info>
  <header class="info__header">
    <h1>About</h1>
  </header>
  <div class="info__container">
    <p class="info__section">Dutch developer and digital designer—I got your back when you need a front. I focus on things for the web. So let’s say you need a website. Maybe a portfolio or a webshop. Well, you just sit back and relax. I’ll set you up with the designs and breathe some life into them with a bit of code magic (not really magic). We’ll pop the champagne once your new website makes you say hallelujah.</p>
    <p class="info__section">The past couple of years I’ve worked with a diverse range of companies—from international brands like Tommy Hilfiger and Samsonite to the more niche businesses. Want to work together as well? Awesome. I’m currently available for new gigs.</p>
    <div class="info__section">
      <p>Don’t be a stranger—get in touch.</p>
      <a class="cta" href="mailto:dwvanochten@gmail.com">dwvanochten@gmail.com</a>
    </div>
    <ul class="info__section">
      <li>
        <a class="cta" href="https://www.linkedin.com/in/davidvanochten/" target="_blank" rel="noreferrer">LinkedIn</a>
      </li>
      <li>
        <a class="cta" href="https://www.instagram.com/davidvanochten/" target="_blank" rel="noreferrer">Instagram</a>
      </li>
    </ul>
  </div>
</section>