<div class="projects">
  <aside class="projects__compilation" data-compilation>
    <div class="projects__compilation-trigger">
      <button class="cta" data-compilation-toggle>Work reel</button>
    </div>
    <div class="gallery gallery--compilation" data-compilation-gallery>
      <button class="gallery__toggle gallery__toggle--dark" data-compilation-toggle><span>Close</span></button>
      <div class="gallery__container gallery__container--video">
        <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/reel-semihard-opt.mp4?alt=media&token=6e68139a-8cb8-4704-b681-27d58a35e0bc" loop playsinline></video>
      </div>
    </div>
  </aside>

  <div class="projects__container">
    <article class="project project--wide" data-project="video">
      <div class="project__content">
        <button class="project__thumbnail" aria-label="Show video" data-project-thumbnail data-project-toggle>
          {{!-- Set srcset --}}
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/tra-hero%20(1).jpg?alt=media&token=93bb1367-57e6-4c56-8daa-6d35afa719a0" alt="">
        </button>

        <div class="project__gallery gallery" data-project-gallery>
          <button class="gallery__toggle" data-project-toggle><span>Close</span></button>
          <div class="gallery__container gallery__container--video" data-project-gallery-container>
            <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/tra-audio-fade-opt.mp4?alt=media&token=91c36dee-b8b8-42e0-85e5-336888d68de5" loop playsinline></video>
          </div>
          {{!-- Set data-src and data-src-s per image --}}
        </div>
      </div>
      <header class="project__header">
        <h1 class="project__headline">
          <button data-project-toggle>Tom Robertson</button>
        </h1>
        <p>Development [<small>2018</small>] — This slick little Melbourne based architecture studio needed a new website to compliment their work. Designed by Confetti, I took care of the code for this bad boy.</p>
      </header>
    </article>

    <article class="project project--narrow" data-project="video">
      <div class="project__content">
        <button class="project__thumbnail" aria-label="Show video" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/butch-hero%20(1).jpg?alt=media&token=f2b304fe-edd7-4b40-961e-836d77626ff6" alt="">
        </button>

        <div class="project__gallery gallery" data-project-gallery>
          <button class="gallery__toggle" data-project-toggle><span>Close</span></button>
          <div class="gallery__container gallery__container--video" data-project-gallery-container>
            <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/butch-small-opt.mp4?alt=media&token=8cc4eafe-f6bb-4a1c-959f-83ef64028583" loop playsinline></video>
          </div>
        </div>
      </div>
      <header class="project__header">
        <h1 class="project__headline">
          <button data-project-toggle>Butch</button>
        </h1>
        <p>Development [<small>2018</small>] — Butch takes care of undies for the burly boys Down Under. Get your briefs and jockstraps while they’re hot. I built this Shopify webshop from scratch. Design by Confetti.</p>
      </header>
    </article>

    <article class="project project--full project--offset" data-project="video">
      <div class="project__content">
        <button class="project__thumbnail" aria-label="Show video" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/mood-hero%20(1).jpg?alt=media&token=ac9c85d4-ff3a-4ec4-a483-c77588ca2ab5" alt="">
        </button>

        <div class="project__gallery gallery" data-project-gallery>
          <button class="gallery__toggle" data-project-toggle><span>Close</span></button>
          <div class="gallery__container gallery__container--video" data-project-gallery-container>
            <video data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/mood-small-loop-2-opt.mp4?alt=media&token=68b10061-3d9e-422e-bfbb-e5487cf6ee75" loop playsinline></video>
          </div>
          {{!-- Set data-src and data-src-s per image --}}
        </div>
      </div>
      <header class="project__header">
        <h1 class="project__headline">
          <button data-project-toggle>Mood</button>
        </h1>
        <p>Development [<small>2018</small>] — Butch takes care of undies for the burly boys Down Under. Get your briefs and jockstraps while they’re hot. I built this Shopify webshop from scratch. Design by Confetti.</p>
      </header>
    </article>

    <article class="project project--narrow" data-project>
      <div class="project__content">
        <button class="project__thumbnail" aria-label="Open gallery" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/ims-hero%20(1).jpg?alt=media&token=8d3abcbf-610e-4ca4-b968-2ef15338e10c" alt="">
        </button>

        <div class="project__gallery gallery" data-project-gallery>
          <button class="gallery__toggle" data-project-toggle><span>Close</span></button>
          <div class="gallery__container" data-project-gallery-container>


            {{!-- Add data-src-s to all gallery images --}}


            <img data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.cards.png?alt=media&token=22f95731-e823-4bc2-bb08-5538733940a8" alt="">
            <img data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.modal.png?alt=media&token=9d6da231-476f-44dc-aa3b-ef2a200d0425" alt="">
            <img data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.user-interface.png?alt=media&token=c6286e1c-785b-426e-9729-783e24fe3517" alt="">
            <img data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/dashboard-opt%402x.png?alt=media&token=332113d1-2299-4c5c-a47f-fa5ca1c46ae4" alt="">
            <img data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/cases%2F-LCH9LgvKO_PIuKx8-4H%2Fcontent%2Fo0wjtk-_min.card.png?alt=media&token=55ca1081-3f8e-4b2b-b0a9-ae2ac83eee55" alt="">
          </div>
        </div>
      </div>
      <header class="project__header">
        <h1 class="project__headline">
          <button data-project-toggle>IMS</button>
        </h1>
        <p>Development and design [<small>2016</small>] — IMS is a management tool created for marketing agency IMA that let’s them take care of their business, from organising influencers to monitoring projects.</p>
      </header>
    </article>

    <article class="project project--wide" data-project>
      <div class="project__content">
        <button class="project__thumbnail" aria-label="Open gallery" data-project-thumbnail data-project-toggle>
          <img src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/ima-hero%20(1).jpg?alt=media&token=797c34cb-895c-45fd-98a4-cd461ce17fbb" alt="">
        </button>

        <div class="project__gallery gallery" data-project-gallery>
          <button class="gallery__toggle" data-project-toggle><span>Close</span></button>
          <div class="gallery__container" data-project-gallery-container>

            {{!-- Resize images to fix Safari jank (2000px width?) --}}
            {{!-- Or set data-src-s for all Safari browsers? --}}

            {{!-- Add data-src-s to all gallery images --}}
            <img alt=""
                 data-src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/home@2x.jpg" data-src-s="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/home.jpg">
            <img alt=""
                 data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/grid-l-opt%402x.jpg?alt=media&token=e81c42a7-576f-47bf-9aea-686d1dbde490">
            <img alt=""
                 data-src="https://firebasestorage.googleapis.com/v0/b/davidvanochten-admin.appspot.com/o/work-opt%402x.jpg?alt=media&token=7a1e5dff-8cfe-4e67-a3d9-2a119d942ce0">
            <img alt=""
                 data-src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/news@2x.jpg" data-src-s="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/news.jpg">
            <img alt=""
                 data-src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/mobile@2x.jpg"
                 data-src-s="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/mobile.jpg">
            <img alt=""
                 data-src="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/contact@2x.jpg"
                 data-src-s="https://mysterious-wildwood-85591.herokuapp.com/media/work/ima/landscape/contact.jpg">
          </div>
        </div>
      </div>
      <header class="project__header">
        <h1 class="project__headline">
          <button data-project-toggle>IMA</button>
        </h1>
        <p>Design [<small>2014</small>] — IMA is an influencer marketing agency based in Amsterdam. The company received a major brand overhaul and I was asked to design their website to match their hot new looks.</p>
      </header>
    </article>
  </div>
</div>

<section class="info" data-info>
  <header class="info__header">
    <h1>About</h1>
  </header>
  <div class="info__container">
    <p class="info__section">Dutch developer and designer — I got your back when you need a front. I build websites and web apps. Custom built or with Wordpress, but always from scratch. Tailored. I also do e-commerce. I design for the web too. User interfaces and visual design. From typography and colours to grids. Grids are the tits. Lorem ipsum dolor sit amet, mei noster alienum probatus an, ea mel mollis persius evertitur, dolor em ne.</p>
    <p class="info__section">The past couple of years I’ve worked with all kinds of companies—from international brands like Samsonite and Tommy Hilfiger to the more niche businesses. Currently doing the freelance thing.</p>
    <div class="info__section">
      <p>Don’t be a stranger—get in touch.</p>
      <a class="cta">dwvanochten@gmail.com</a>
    </div>
    <ul class="info__section">
      <li>
        <a class="cta" href="https://www.linkedin.com/in/davidvanochten/" target="_blank" rel="noreferrer">LinkedIn</a>
      </li>
      <li>
        <a class="cta" href="https://www.instagram.com/davidvanochten/" target="_blank" rel="noreferrer">Instagram</a>
      </li>
    </ul>
  </div>
</section>