<article class="default">
  <div class="default__content">
    <h1 class="headline headline--inline"><strong>Offline? </strong></h1>
    <p class="headline headline--inline">You seem to be offline right now. Or maybe some other server-related stuff went wrong. Please refresh the page or try again later.</p>
  </div>

  {{> footer}}
</article>
