<article class="info">
  <header class="info__header">
    <h1>{{title}}</h1>
  </header>
  <div class="info__container">
    <p class="info__section">Seems like you’ve run out of internet. Please wait a sec and refresh this page when you’re back online.</p>
  </div>
</article>