.accordion {
  margin-top: calc(var(--bsl) / 3);
  padding-bottom: calc(var(--bsl) * 3);

  &__item {
    border-bottom: 1px solid var(--light-color);
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: calc(var(--bsl) / 3);
    padding-bottom: calc(var(--bsl) / 3);

    &::after {
      content: "+";
    }

    & h1 {
      transform-origin: bottom left;
      transition: transform .25s cubic-bezier(.5, 0, .25, 1);
    }

    &:hover {
      & h1 {
        transform: skewX(-12deg);
      }
    }
  }
}