.button {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  vertical-align: sub;

  &--link {
    &::after,
    &::before {
      content: "";
      width: var(--bsl);
      background-image: url('/static/icons/arrow.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: opacity .25s linear, transform .5s cubic-bezier(.75, 0, 0, 1);
    }

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1.25rem;
      opacity: 0;
      transform: translate3d(calc(var(--bsl) / -1), 0, 0);
    }

    &:hover,
    &:focus {
      & .button__text {
        transform: translate(calc(var(--bsl) * -1.5), 0, 0);
      }

      &::after {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity .25s linear .25s, transform .75s cubic-bezier(.75, 0, 0, 1);
      }

      &::before {
        transform: translate3d(calc(var(--bsl) * -3), 0, 0);
      }
    }
  }

  &--submit {
    align-items: center;
    align-self: flex-end;
  }

  &__icon {
    fill: var(--dark);

    &--submit {
      height: calc(var(--bsl) * 1.15);
      margin-top: calc(var(--bsl) / 3);
      margin-left: calc(var(--bsl) / 3);
      transition: transform .5s cubic-bezier(.75, 0, 0, 1);
    }
  }

  &__text {
    /*transform: translate3d(calc(var(--bsl) / 2), 0, 0);*/
    transition: transform .5s cubic-bezier(.75, 0, .25, 1);
    margin-left: calc(var(--bsl) / 2);
  }
}