.card {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &:hover {
    & .card__header {
      transform: translate3d(0, 0, 0);
    }

    & .card__heading {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--light);
    transform: translate3d(0, 100%, 0);
    transition: transform .5s cubic-bezier(.75, 0, .25, 1);
  }

  &__heading {
    font-family: var(--secondary-font);
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: transform .5s cubic-bezier(.75, 0, .25, 1) .15s, opacity .5s linear .15s;
  }

  &__link {
    display: flex;
    padding-top: var(--bsl);
  }

  &__thumbnail {
    height: 100%;

    @supports not (grid-area: auto) {
      padding-bottom: 100%;
    }

    &--index {
      padding-bottom: 100%;
    }
  }
}