.form {
  display: flex;
  flex-direction: column;

  &.form__isSubmitted {
    opacity: 0;
    transition: opacity .5s linear 0s, height .5s cubic-bezier(.75, 0, .25, 1) .5s;
    will-change: height;
    pointer-events: none;
  }

  &__message {
    color: var(--safe);
    opacity: 0;
    transition: opacity .5s linear .5s;

    &--error {
      color: var(--alert);
    }

    &--isVisible {
      opacity: 1;
    }
  }

  &__error {
    position: absolute;
    top: 50%;
    right: calc(var(--bsl) / 1.5);
    color: var(--alert);
    text-decoration: underline;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .5s linear;
  }

  &__field {
    position: relative;

    &--error {
      & .form__error {
        opacity: 1;
      }

      & .form__input {
        border-color: var(--alert);
        transition: border-color .5s linear;
      }
    }
  }

  &__input {
    width: 100%;
    margin-bottom: calc((var(--bsl) / 3) - 2px); /* Vertical rhythm */
    padding: calc(var(--bsl) / 1.5);
    font-size: var(--ms-m);
    line-height: calc(var(--bsl) / .75);
    border: 1px solid var(--grey-light);
    border-radius: var(--radius);
    color: var(--dark);

    &:focus {
      border: 1px solid var(--grey-dark);
    }
  }

  &__submit {
    align-items: center;
    align-self: flex-end;
    padding: calc(var(--bsl) / 3);
    border: none;
    font-family: var(--secondary-font);
    font-size: var(--ms-l);
    line-height: calc(var(--bsl) * 3);
    transition: opacity .25s linear;

    &:focus {
      opacity: .25;
    }

    &--isProcessing {
      opacity: .25;
      pointer-events: none;
    }
  }
}