.form {
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: calc(var(--bsl) - 1px); /* Vertical rhythm */
    font-size: var(--ms-l);
    line-height: calc(var(--bsl) * 3);
    border: none;
    border-bottom: 1px solid #e0e0e0;
    color: var(--grey-dark);
  }

  /* &__submit {
    align-self: flex-end;
    padding: calc(var(--bsl) / 3) var(--bsl);
    border: 1px solid var(--dark);
    font-family: var(--secondary-font);
    font-size: var(--ms-s);
    color: var(--grey-light);
    letter-spacing: var(--spacing-wide);
    text-transform: uppercase;
    background-color: var(--dark);
    cursor: not-allowed;
  } */

  &__submit {
    align-self: flex-end;
    padding-top: calc(var(--bsl) / 3);
    padding-bottom: calc(var(--bsl) / 3);
    border: none;
    font-family: var(--secondary-font);
    font-size: var(--ms-m);
    cursor: pointer;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bdbdbd;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bdbdbd;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bdbdbd;
}
