.form {
  display: flex;
  flex-direction: column;

  &--contact {
    padding-top: calc(var(--bsl) / 3);
    transition: opacity .5s linear;
  }

  &--isHidden {
    opacity: 0;
    pointer-events: none;
  }

  &__input {
    margin-bottom: calc(var(--bsl) - 1px); /* Vertical rhythm */
    font-size: var(--ms-m);
    line-height: calc(var(--bsl) * 2);
    border: none;
    border-bottom: 1px solid #e0e0e0;
    color: var(--dark);
  }

  &__submit {
    padding-top: calc(var(--bsl) / 5);
    padding-bottom: calc(var(--bsl) / 5);
    border: none;
    font-family: var(--secondary-font);
    font-size: var(--ms-l);
    line-height: calc(var(--bsl) * 3);
    cursor: pointer;

    &--isProcessing {
      color: var(--grey-dark);
      pointer-events: none;
    }

    &--isDone {
      color: green;
      pointer-events: none;
    }
  }
}