.gallery {
  &__container {
    height: 100vh;
    width: calc(var(--col-12) - (var(--bsl) * 2));
    margin-left: calc(var(--bsl) * 2);
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0;
    line-height: 0;

    &--video {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      & video {
        width: var(--col-10);
      }
    }

    & img {
      margin-bottom: calc(var(--bsl) * 6);
    }
  }

  &__toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100vh;
    width: calc(var(--bsl) * 2);
    background-color: var(--grey-color);

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--bsl) * 2);
      width: 100%;
      transform: rotate(-90deg);
    }
  }
}