.gallery {
  position: relative;
  order: 0;
  outline: none;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--col-24);
    background-color: var(--grey-lightest);
  }

  @media (--tablet-landscape-up) {
    position: fixed;
    top: 0;
    left: 0;
    order: 1;
    height: 100vh;
    width: var(--col-24);
  }

  &--isActive {
    & .gallery__hero {
      opacity: 0;
      transition: opacity .5s linear;
    }

    & .gallery__indicator {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
      transition: transform .5s cubic-bezier(.75, 0, .25, 1), opacity 0s linear .5s;
    }
  }

  &--isVisible {
    position: absolute;
  }

  &__content {
    position: absolute;
    top: 0;
    z-index: 10;
    width: var(--col-24);
    opacity: 0;
    background-color: var(--light);
    transition: opacity .25s linear;
    pointer-events: none;

    &--isVisible {
      opacity: 1;
      transition: opacity .5s linear 1s;
      pointer-events: auto;
    }
  }

  &__header {
    position: relative;
    z-index: 1;

    @media (--tablet-landscape-up) {
      position: fixed;
      z-index: 5;
      left: var(--col-10);
      width: var(--col-14);
    }
  }

  &__hero {
    padding-bottom: 100vh;
    transition: opacity .75s linear .5s;
  }

  &__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    height: calc(var(--bsl) * 3);
    width: 100%;
    padding-right: var(--col-1);
    padding-left: var(--col-1);
    border-top: 1px solid var(--grey-light);
    border-bottom: 1px solid var(--grey-light);
    font-family: var(--secondary-font);
    background-color: var(--light);
    will-change: transform;
    transition: transform .5s cubic-bezier(.75, 0, .25, 1) .75s;
  }

  &__item {
    margin-bottom: calc(var(--bsl) * 4);
  }
}