.grid {
  display: flex;

  @media (--phone-only) {
    flex-direction: column;
  }

  &__cell {
    position: relative;
    flex-shrink: 0;
    padding: var(--bsl) var(--col-1);

    @media (--tablet-portrait-up) {
      padding: calc(var(--bsl) * 2) var(--col-1);

      &--4 {
        width: var(--col-4);
      }

      &--6 {
        width: var(--col-6);
      }

      &--8 {
        width: var(--col-8);
      }

      &--10 {
        width: var(--col-10);
      }

      &--12 {
        width: var(--col-12);
      }

      &--18 {
        width: var(--col-18);
      }
    }

    &--borderTop {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: var(--grey-light);
      }
    }

    &--borderBottom {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: var(--grey-light);
      }
    }

    &--borderLeft {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        background-color: var(--grey-light);
      }
    }

    &--offset {
      @media (--tablet-portrait-up) {
        margin-top: calc(var(--bsl) * -3);
      }
    }

    &--profile {
      @media (--phone-only) {
        order: 1;
      }
    }
  }

  &__column {
    position: sticky;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    background-color: var(--light);

    @media (--tablet-portrait-up) {
      &--narrow {
        width: var(--col-10);
      }

      &--wide {
        width: var(--col-14);
        padding: var(--bsl) var(--col-1);

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 1px;
          background-color: var(--grey-light);
        }
      }
    }
  }

  &__heading {
    margin-bottom: var(--bsl);
    color: var(--grey-dark);

    &--l {
      font-size: var(--ms-l); 
      line-height: calc(var(--bsl) * 2);
      color: var(--dark);
    }

    @media (--tablet-landscape-up) {
      &--rotated {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(var(--bsl) * 2);
        width: var(--col-1);
        transform: rotate(90deg);
        transform-origin: bottom left;
      }
    }
  }

  &__link {
    &::before {
      content: '\27f6';
      margin-right: calc(var(--bsl) / 2);
    }
  }
}