.grid {
  display: flex;
  flex-wrap: wrap;

  @media (--phone-only) {
    flex-direction: column;
  }

  &__cell {
    position: relative;
    flex-shrink: 0;
    padding: var(--bsl) var(--col-1);

    @media (--tablet-portrait-up) {
      padding: calc(var(--bsl) * 2) var(--col-1);

      &--4 {
        width: var(--col-4);
      }

      &--6 {
        width: var(--col-6);
      }

      &--8 {
        width: var(--col-8);
      }

      &--10 {
        width: var(--col-10);
      }

      &--12 {
        width: var(--col-12);
      }
    }

    &--borderTop {
      border-top: 1px solid var(--grey-light);
    }

    &--borderBottom {
      border-bottom: 1px solid var(--grey-light);
    }

    &--borderLeft {
      border-left: 1px solid var(--grey-light);
    }

    &--offset {
      margin-top: var(--bsl);

      @media (--tablet-portrait-up) {
        margin-top: calc(var(--bsl) * -3);
      }
    }

    &--profile {
      @media (--phone-only) { 
        order: 1;
        border-top: 1px solid var(--grey-light);

        & .u-isShowOff--5 {
          transition: transform 1s cubic-bezier(.75, 0, 0, 1), opacity .5s linear .1s;
        }
      }
    }

    &--signage {
      @media (--phone-only) { 
        display: none;
      }
    }
  }

  &__column {
    position: sticky;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: var(--col-24);
    background-color: var(--light);

    @media (--tablet-portrait-up) {
      &--narrow {
        width: var(--col-10);
      }

      &--wide {
        width: var(--col-14);
        padding: var(--bsl) var(--col-1);

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 1px;
          background-color: var(--grey-light);
        }
      }
    }
  }

  &__heading {
    margin-bottom: var(--bsl);
    color: var(--grey-dark);

    &--l {
      margin-top: .15rem; /* Retain vertical rhythm */
      margin-bottom: 1.35rem; /* Both add up to 1.5rem */
      font-size: var(--ms-l); 
      line-height: calc(var(--bsl) * 2);
      color: var(--dark);
    }

    @media (--tablet-landscape-up) {
      &--rotated {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(var(--bsl) * 2);
        width: var(--col-1);
        transform: rotate(90deg);
        transform-origin: bottom left;
      }
    }
  }
}