.grid {
  display: flex;

  &__border {
    position: relative;

    &--left {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        background-color: var(--grey-light);
      }
    }

    &--bottom {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: var(--grey-light);
      }
    }
  }

  &__cell {
    padding: calc(var(--bsl) * 2) var(--col-1);
    overflow: hidden;

    &--4 {
      width: var(--col-4);
    }

    &--6 {
      width: var(--col-6);
    }

    &--8 {
      width: var(--col-8);
    }

    &--profile {
      padding-top: var(--bsl);
    }
  }

  &__column {
    position: sticky;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    padding-bottom: calc(var(--bsl) * 1);
    background-color: var(--light);

    &--narrow {
      width: var(--col-10);
    }

    &--wide {
      width: var(--col-14);
    }
  }

  &__heading {
    margin-bottom: var(--bsl);
    color: var(--grey-dark);

    &--l {
      font-size: var(--ms-l); 
      line-height: calc(var(--bsl) * 2);
      color: var(--dark);
    }

    &--rotated {
      position: absolute;
      top: 0;
      right: 0;
      height: calc(var(--bsl) * 2);
      width: var(--col-1);
      transform: rotate(90deg);
      transform-origin: bottom left;
    }
  }

  &__link {
    &::before {
      content: '\27f6';
      margin-right: calc(var(--bsl) / 2);
    }
  }
}