.info {
  display: flex;
  margin-left: var(--col-4);

  &__container {
    width: var(--col-4);
    padding-right: var(--gutter);
    padding-left: var(--gutter);
  }

  &__header {
    width: var(--col-2);
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    font-family: var(--secondary-font);
  }

  &__section {
    margin-bottom: var(--bsl);
  }
}