.info {

  @media (--tablet-landscape-up) {
    display: flex;
    margin-left: var(--col-3);
  }

  &__container {
    padding-right: var(--gutter);
    padding-left: var(--gutter);

    @media (--tablet-landscape-up) {
      width: var(--col-4);
    }
  }

  &__header {
    margin-bottom: calc(var(--bsl) / 2);
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    font-family: var(--secondary-font);

    @media (--tablet-landscape-up) {
      width: var(--col-2);
    }
  }

  &__section {
    margin-bottom: var(--bsl);
  }
}