.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: var(--col-18);
  background-color: var(--light);
  transform: translate3d(0, 0, 0);
  transition: transform .5s cubic-bezier(.75, 0, .25, 1);

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14px;
    width: var(--bsl);
    padding-top: 1px;
    padding-bottom: 1px;
    overflow: hidden;
  }

  &__burgerLine {
    position: relative;
    height: 2px;
    width: 100%;
    background-color: var(--dark);
    transition: transform .75s cubic-bezier(.75, 0, .25, 1);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -200%;
      height: 2px;
      width: 100%;
      background-color: var(--dark);
      opacity: 0;
      transition: transform .25s cubic-bezier(.88, 0, 0, 1), opacity 0s linear .75s;
    }

    &:nth-child(2) {
      transition-delay: .1s;
    }

    &:nth-child(3) {
      transition-delay: .2s;
    }
  }

  &__colophon {
    width: var(--col-12);
    padding: calc(var(--bsl) * 2) var(--col-2);

    & a {
      font-family: var(--primary-font);
      border-bottom: 1px solid var(--grey-dark);
    }
  }

  &__item {
    overflow: hidden;
    opacity: 0;
    transition: opacity .25s linear;

    &--isVisible {
      opacity: 1;

      &:nth-child(1) {
        & .menu__link {
          transition-delay: .2s;
        }
      }

      &:nth-child(2) {
        & .menu__link {
          transition-delay: .3s;
        }
      }

      &:nth-child(3) {
        & .menu__link {
          transition-delay: .4s;
        }
      }

      &:nth-child(4) {
        & .menu__link {
          transition-delay: .5s;
        }
      }

      &:nth-child(5) {
        & .menu__link {
          transition-delay: .6s;
        }
      }

      & .menu__link {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &__link {
    font-family: var(--primary-font);
    transform: translate3d(0, 100%, 0);
    transition: transform .5s cubic-bezier(.75, 0, .25, 1);

    &:hover {
      color: var(--grey);
    }

    &--isActive {
      font-family: var(--secondary-font);
    }
  }

  &__links {
    font-size: var(--ms-m);
    line-height: calc(var(--bsl) * 2);
    padding: calc(var(--bsl) * 3) var(--col-2);
    border-bottom: 1px solid var(--grey-light);
  }

  &__panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    padding-top: calc(var(--bsl) * 3);
    border-left: 1px solid var(--grey-light);
    border-bottom: 1px solid var(--grey-light);
    overflow: auto;
    background-color: var(--light);
    transform: translate3d(0, calc((100% * -1) + (var(--bsl) * 3)), 0);
    transition: transform .25s cubic-bezier(.75, 0, .25, 1);
    pointer-events: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &--isVisible {
      overflow: auto;
      transform: translate3d(0, 0, 0);
      transition: transform .5s cubic-bezier(.75, 0, .25, 1);
      pointer-events: auto;
    }
  }

  &__toggle {
    z-index: 1;
    display: flex;
    align-items: center;
    height: calc(var(--bsl) * 3);
    width: 100%;
    padding: var(--bsl) var(--col-1);
    border-bottom: 1px solid var(--grey-light);
    border-left: 1px solid var(--grey-light);
    background-color: var(--light);
    cursor: pointer;
    outline: none;

    &:hover {
      & .menu__burgerLine {
        transform: translate3d(200%, 0, 0);

        &::after {
          opacity: 1;
          transition-delay: 0s;
        }
      }
    }

    &--isActive {
      & .menu__burgerLine {
        transition-duration: .25s;
        transition-delay: 0s;

        &:nth-child(1) {
          transform: translate3d(100%, 0, 0);
        }

        &:nth-child(2) {
          transform: translate3d(200%, 0, 0);

          &::after {
            opacity: 1;
          }
        }

        &:nth-child(3) {
          transform: translate3d(100%, 0, 0);
        }
      }
    }
  }
}