.projects {
  position: relative;

  &__container {
    margin-bottom: calc(var(--bsl) * 6);

    @media (--tablet-landscape-up) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: calc(var(--bsl) * 10);
      margin-left: var(--col-1);
    }
  }

  &__compilation {
    @media (--tablet-landscape-up) {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: var(--col-1);
    }
  }

  &__compilation-trigger {
    margin-bottom: var(--bsl);
    padding: var(--gutter);

    @media (--tablet-landscape-up) {
      position: sticky;
      top: var(--bsl);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: var(--col-1);
      width: 100%;
      padding-right: 0;
      transform: rotate(-90deg);
    }
  }
}