.projects {
  position: relative;

  &__container {
    margin: calc(var(--bsl) * 2) 0 calc(var(--bsl) * 6);

    @media (--tablet-landscape-up) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: calc(var(--bsl) * 5) 0 calc(var(--bsl) * 10) var(--col-1);
    }
  }

  &__pointer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    overflow: hidden;
    height: var(--bsl);
    opacity: 0;
    transform: translate3d(calc(50vw - 50%), calc(50vh - 50%), 0);
    transition: transform .75s cubic-bezier(0, .5, .25, 1), opacity .25s linear;
    pointer-events: none;

    & div {
      transition: transform 0s linear .25s, opacity .25s linear;

      &::after {
        content: "Play";
        display: block;
      }

      &::before {
        content: "Open";
        display: block;
      }
    }

    &--close {
      & div {
        opacity: 0;
      }
    }

    &--gallery {
      & div {
        transition: transform .25s cubic-bezier(.5, 0, .25, 1), opacity .25s linear;

        &::after {
          content: "Unmute";
        }

        &::before {
          content: "Mute";
        }
      }

      &.projects__pointer--mute {
        & div {
          transform: translate3d(0, -50%, 0);
        }
      }
    }

    &--is-visible {
      opacity: 1;
    }

    /* &--mute {
      & div {
        transform: translate3d(0, -50%, 0);
      }
    } */

    &--video {
      & div {
        transform: translate3d(0, -50%, 0);
        transition: opacity .25s linear;
      }
    }
  }
}