.project {
  position: relative;
  height: 100vh;

  &--is-active {
    z-index: 10;

    & *:not(.project__gallery) {
      pointer-events: none;
    }

    & .project__headline {
      opacity: 0;
      transform: translate3d(0, calc(var(--bsl) * -2), 0) skewY(-4deg);
      transition: transform .75s cubic-bezier(.5, 0, .25, 1), opacity .25s linear .25s;
    }

    & .project__info {
      opacity: 0;
      transform: translate3d(0, var(--bsl), 0);
      transition: transform .75s cubic-bezier(.5, 0, .25, 1), opacity .25s linear .25s;
    }

    & .project__thumbnail {
      &::after {
         transition: transform .5s cubic-bezier(.5, 0, .25, 1) .25s;
      }

      & img {
        transition: opacity .5s linear .25s;
      }
    }
  }

  &__button {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: calc(var(--bsl) / -6);
      left: 0;
      height: 2px;
      width: 100%;
      background-color: var(--light-color);
    }
  }

  &__data {
    flex-shrink: 0;
    width: var(--col-2);
  }

  &__gallery {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    font-size: 0;
    line-height: 0;
    transform: translate3d(-100vw, 0, 0);
    transition: transform 0s linear .25s, opacity .5s linear;
    cursor: pointer;

    & img,
    & video {
      transform: scale(1.05);
      margin-bottom: calc(var(--bsl) * 3);
      transition: transform 0s cubic-bezier(.5, 0, .25, 1) .5s;
    }

    &--is-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: opacity .5s linear;

      & img,
      & video {
        transform: none;
        transition: transform 1s cubic-bezier(.5, 0, .25, 1);
      }
    }

    &--is-visible {
      visibility: visible;
    }
  }

  &__headline {
    position: absolute;
    top: calc(var(--bsl) * 5);
    left: var(--col-1);
    z-index: 1;
    padding-left: var(--gutter);
    transform-origin: center;
    will-change: transform;
    transition: transform .75s cubic-bezier(.5, 0, .25, 1) .25s, opacity .25s linear .25s;
    cursor: pointer;

    /* &:hover {
      color: transparent;
      text-stroke: 1px white;
      -webkit-text-stroke: 1px white;
    } */
  }

  &__info {
    position: absolute;
    bottom: calc(var(--bsl) * 3);
    left: var(--col-4);
    z-index: 1;
    display: flex;
    align-items: baseline;
    width: var(--col-7);
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    transition: transform .75s cubic-bezier(.5, 0, .25, 1) .25s, opacity .25s linear .25s;
  }

  &__thumbnail {
    position: absolute;
    top: calc(var(--bsl) * 3);
    right: calc(var(--col-1) + var(--gutter));
    z-index: 0;
    width: calc(var(--col-9) - var(--gutter) * 2);
    height: calc(100vh - var(--bsl) * 11);
    overflow: hidden;
    background-color: #FFFFFF;
    transform-origin: top left;
    transition: transform .5s cubic-bezier(.5, 0, .25, 1);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(transparent, var(--dark-color));
      transform: translate3d(0, 0, 0);
      transition: transform .5s cubic-bezier(.5, 0, .25, 1);
    }

    & img {
      height: 100%;
      object-fit: cover;
      transition: opacity .5s linear;
    }

    &--is-hidden {
      &::after {
        transform: translate3d(0, 100%, 0);
      }

      & img {
        opacity: 0;
      }
    }
  }
}