.projects {
  background-color: var(--dark-color);
  transform: translate3d(0, 0, 0);
  transition: transform 1.15s cubic-bezier(.5, 0, .25, 1);

  &__counter {
    position: fixed;
    right: 0;
    bottom: var(--bsl);
    width: var(--col-1);
    padding-right: var(--gutter);
    font-family: var(--primary-font);
    font-size: calc(var(--bsl) / 2);
    line-height: calc(var(--bsl) / 2);
    text-align: right;
  }

  &__list {
    position: relative;
    z-index: 10;
    transition: transform 1.15s cubic-bezier(.5, 0, .25, 1);

    &--is-inactive {
      overflow: hidden;

      & .project:not(.project--is-active) {
        pointer-events: none;

        & .project__headline,
        & .project__info {
          opacity: 0;
          transition: opacity .25s linear;
        }
      }
    }
  }
}