.site {
  overflow: hidden;
  font-family: var(--primary-font);
  font-size: var(--ms-r);
  color: var(--light-color);
  letter-spacing: var(--spacing);
  line-height: var(--bsl);
  background-color: var(--dark-color);

  &__toggle {
    position: fixed;
    top: var(--bsl);
    left: var(--gutter);
    z-index: 15;

    & button {
      transform: rotate(-90deg);
    }
  }
}