.siteHeader {
  position: fixed;
  top: 0;
  z-index: 15;
  display: flex;
  width: var(--col-24);
  transition: transform .5s cubic-bezier(.75, 0, .25, 1);

  &--isHidden {
    transform: translate3d(0, -100%, 0);
    
    & .siteHeader__logotype {
      opacity: 0;
    }

    & .menu__burgerLine {
      transform: translate3d(-125%, 0, 0);
    }
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark);
    opacity: 0;
    transition: opacity .25s linear;
    pointer-events: none;

    &--isActive {
      opacity: .25;
      cursor: pointer;
      pointer-events: auto;
    }
  }

  &__logo {
    position: relative;
    z-index: 1;
    width: var(--col-6);
    padding: var(--bsl) var(--col-1);
    background-color: var(--light);
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1rem;
      height: 1rem;
      border: 2px solid var(--dark);
      border-radius: 50%;
      transform: translate(-50%, -50%);

      @media (--tablet-landscape-up) {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--grey-light);
    }

    &:hover {
      & span {
        transform: translate3d(0, -100%, 0);
      }
    }
  }

  &__logotype {
    overflow: hidden;
    font-family: var(--secondary-font);
    transition: opacity .25s linear .25s;

    & span {
      display: none;
    }

    @media (--tablet-landscape-up) {
      & span {
        position: relative;
        display: inline-block;
        transition: transform .75s cubic-bezier(.75, 0, 0, 1);

        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translate3d(0, 100%, 0);
        }

        &:nth-child(1) {
          &::after {
            content: "David";
          }
        }

        &:nth-child(2) {
          transition-delay: .1s;

          &::after {
            content: "van";
          }
        }

        &:nth-child(3) {
          transition-delay: .15s;

          &::after {
            content: "Ochten";
          }
        }
      }
    }
  }
}