.site-header {
  width: 100vw;
  padding: var(--bsl) var(--gutter);

  @media (--tablet-landscape-up) {
    display: flex;
  }

  &__section {
    margin-bottom: var(--bsl);

    @media (--tablet-landscape-up) {
      width: var(--col-5);
    }
  }
}