.slider { 

  &__container {
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 1s cubic-bezier(.75, 0, 0, 1);
    will-change: transform;
    cursor: move;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &--isDragging {
      transition: none;
    }
  }

  &__item {
    flex-shrink: 0;
    width: var(--col-16);
    padding-right: var(--col-1);
    pointer-events: auto;

    @media (--tablet-portrait-up) {
      width: var(--col-6);
    }

    & > * {
      pointer-events: none;
    }
  }

  & .button--link {
    pointer-events: auto;
  }
}