.splash {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background-color: var(--light);
  opacity: 0;
  transition: opacity .5s linear .25s;
  pointer-events: none;

  &__header {
    position: absolute;
    top: 50%;
    left: 0;
    padding-right: var(--col-1);
    padding-left: var(--col-1);
    line-height: calc(var(--bsl) * 2);
    opacity: 0;
    transition: opacity .25s linear;
    transform: translateY(-50%);
  }

  &__title {
    font-size: var(--ms-l);
  }

  &__subtitle {
    font-size: var(--ms-m);
    color: var(--grey-dark);
  }

  &--isVisible {
    opacity: 1;
    pointer-events: auto;

    & .splash__header {
      opacity: 1;
    }
  }
}