.splash {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background-color: var(--grey-light);
  opacity: 0;
  transition: opacity .75s linear .25s;
  pointer-events: none;

  &__header {
    position: absolute;
    top: 50%;
    left: 0;
    padding: var(--col-2);
    line-height: calc(var(--bsl) * 2);
    opacity: 0;
    transition: opacity .25s linear;
    transform: translateY(-50%);

    @media (--tablet-landscape-up) {
      padding: var(--col-1);
    }
  }

  &__title {
    display: flex;
    font-size: var(--ms-l);
    line-height: calc(var(--bsl) * 3);

    & span {
      position: relative;
      display: inline-block;
      transform: translate3d(0, 0, 0);
      transition: transform 1s cubic-bezier(.75, 0, .25, 1);

      &::after {
        position: absolute;
        top: 0;
        transform: translate3d(0, 100%, 0);
      }

      &:nth-child(5) {
        transition-delay: .25s;

        &::after {
          content: "e";
          left: 0;
        }
      }

      &:nth-child(6) {
        transition-delay: .3s;

        &::after {
          content: "d";
          left: .875rem;
        }
      }

      &:nth-child(7) {
        transition-delay: .35s;
      }
    }

    &--loaded {
      & span {
        &:nth-child(5) {
          transition-delay: 0s;
          transform: translate3d(0, -100%, 0);
        }
        
        &:nth-child(6) {
          transition-delay: .05s;
          transform: translate3d(0, -100%, 0);
        }

        &:nth-child(7) {
          transition-delay: .1s;
          transform: translate3d(0, -100%, 0);
        }
      }
    }
  }

  &__subtitle {
    display: flex;
    line-height: var(--ms-r);
    color: var(--grey-dark);
  }

  &--isVisible {
    opacity: 1;
    pointer-events: auto;

    & .splash__header {
      opacity: 1;
    }
  }
}