.view {

  &--is-resetting {
    & .info__container {
      animation: slideLeft 1s cubic-bezier(.5, 0, .5, 1);
    }

    & .project {
      transform-origin: bottom;
      animation: slideLeft 1s cubic-bezier(.5, 0, .5, 1);
    }

    & .project__headline,
    & .project__info {
      transform-origin: bottom;
      animation: slideLeft2 1s cubic-bezier(.5, 0, .5, 1) forwards;
    }
  }

  &--info {
    & .info {
      transform: translate3d(0, 0, 0);
    }

    & .info__container {
      animation: slideRight 1s cubic-bezier(.5, 0, .5, 1);
    }

    & .projects {
      transform: translate3d(50vw, 0, 0);
    }

    & .project {
      animation: slideRight 1s cubic-bezier(.5, 0, .5, 1);
    }

    & .project__headline,
    & .project__info {
      animation: slideRight2 1s cubic-bezier(.5, 0, .5, 1) forwards;
    }
  }
}