.view {
/* Site content instead of view? */
  &--is-resetting {
    & .project {
      transform-origin: bottom;
      animation: slideLeft 1s cubic-bezier(.5, 0, .5, 1);
    }

    & .project__headline,
    & .project__info {
      transform-origin: bottom;
      animation: slideLeft2 1s cubic-bezier(.5, 0, .5, 1) forwards;
    }
  }

  &--info {
    & .info__container {
      opacity: 1;
      transform: none;
      transition: transform .75s cubic-bezier(.5, 0, .25, 1) .75s, opacity .25s linear .85s;
    }

    & .projects {
      transform: translate3d(75vw, 0, 0);
      pointer-events: none;

      & * {
        pointer-events: none;
      }
    }

    & .projects__list {
      transform: translate3d(-25vw, 0, 0);
    }

    & .project {
      animation: slideRight 1s cubic-bezier(.5, 0, .5, 1);
    }

    & .project__headline,
    & .project__info {
      animation: slideRight2 1s cubic-bezier(.5, 0, .5, 1) forwards;
    }
  }
}