/* Use as component (e.g. showOff) */
.showOff {
  &--1 {
    transition: transform 1s cubic-bezier(.75, 0, 0, 1) .1s, opacity .75s linear .2s;
  } 
}

/* IMPROVE THIS
  Also check solution for Huw McConarchy website.
  u-mb2 utilities
 */
.u-isShowOff {
  transition: transform 1s cubic-bezier(.75, 0, 0, 1), opacity .75s linear .1s;

  &--fade {
    opacity: 0;
  }

  &--scale {
    opacity: 0;
    transform: scale(.95);
  }

  &--skew {
    opacity: 0;
    transform: translate3d(0, calc(var(--bsl) * 3), 0) skewY(3deg);
  }

  &--slide {
    opacity: 0;
    transform: translate3d(0, calc(var(--bsl)), 0);
  }

  &--1 {
    transition: transform 1s cubic-bezier(.75, 0, 0, 1) .1s, opacity .75s linear .2s;
  }

  &--2 {
    transition: transform 1s cubic-bezier(.75, 0, 0, 1) .15s, opacity .75s linear .25s;
  }

  &--3 {
    transition: transform 1s cubic-bezier(.75, 0, 0, 1) .2s, opacity .75s linear .3s;
  }

  &--4 {
    transition: transform 1s cubic-bezier(.75, 0, 0, 1) .25s, opacity .75s linear .35s;
  }

  &--5 {
    transition: transform 1s cubic-bezier(.75, 0, 0, 1) .3s, opacity .75s linear .4s;
  }
}