.index {
  margin-top: calc(var(--bsl) * -3);

  @media (--tablet-portrait-up) {
    display: flex;
  }

  &__column {
    position: sticky;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: var(--col-24);
    background-color: var(--light);

    @media (--tablet-portrait-up) {
      &--narrow {
        width: var(--col-10);
      }

      &--wide {
        width: var(--col-14);
        border-left: 1px solid var(--grey-light);
      }
    }
  }

  &__contact {
    padding: calc(var(--bsl) * 1) var(--col-2);
    border-bottom: 1px solid var(--grey-light);

    @media (--tablet-portrait-up) {
      padding: calc(var(--bsl) * 2) var(--col-1);
    }
  }

  &__intro {
    width: var(--col-14);
    padding: calc(var(--bsl) * 1) var(--col-2);
    border-bottom: 1px solid var(--grey-light);

    @media (--tablet-portrait-up) {
      width: var(--col-6);
      padding: calc(var(--bsl) * 2) var(--col-1);
    }
  }

  &__notes {
    padding-top: calc(var(--bsl) * 1);
    padding-bottom: calc(var(--bsl) * 2);
    border-bottom: 1px solid var(--grey-light);

    @media (--tablet-portrait-up) {
      padding-top: calc(var(--bsl) * 2);
      padding-bottom: calc(var(--bsl) * 3);
    }

    & .subheading {
      padding-left: var(--col-2);

      @media (--tablet-portrait-up) {
        padding-left: var(--col-1);
      }
    }
  }

  &__profile {
    order: 1;
    padding: calc(var(--bsl) * 1) var(--col-2);

    @media (--tablet-portrait-up) {
      order: 0;
      padding: calc(var(--bsl) * 6) var(--col-2) calc(var(--bsl) * 2);
    }
  }

  &__signage {
    flex-grow: 1;
    padding: calc(var(--bsl) * 3) var(--col-2) calc(var(--bsl) * 1);
    border-bottom: 1px solid var(--grey-light);
    border-left: 1px solid var(--grey-light);

    & a {
      &:hover,
      &:focus {
        color: var(--grey);
      }
    }

    @media (--tablet-portrait-up) {
      width: var(--col-4);
      padding: calc(var(--bsl) * 3) var(--col-1) calc(var(--bsl) * 2);
    }
  }

  &__work {
    display: flex;
    flex-direction: column;
    order: 0;
    position: relative;
    padding: calc(var(--bsl) * 1) var(--col-2);
    border-bottom: 1px solid var(--grey-light);

    @media (--tablet-portrait-up) {
      order: 1;
      padding: 0 var(--col-2) calc(var(--bsl) * 2);
      border: none;
    }

    & .button {
      align-self: flex-end;
    }

    & li {
      margin-bottom: calc(var(--bsl) * 1);

      @media (--tablet-portrait-up) {
        margin-bottom: calc(var(--bsl) * 3);
      }

      &:last-child {
        margin-bottom: calc(var(--bsl) * 2);
      }
    }
  }

  & .page__footer {
    order: 2;
  }
}

