.profile {
  flex-direction: column;

  &__summary {
    width: var(--col-12);
    padding: calc(var(--bsl) * 2) var(--col-1);
    border-right: 1px solid var(--grey-light);

    & p {
      margin-bottom: var(--bsl);
    }
  }

  &__header {
    padding: calc(var(--bsl) * 3) var(--col-1);
    border-bottom: 1px solid var(--grey-light);

    @media (--tablet-portrait-up) {
      padding-top: calc(var(--bsl) * 6);
    }
  }

  &__subheading {
    margin-bottom: calc(var(--bsl) / 2);
  }

  &__services {
    width: var(--col-12);
    padding: calc(var(--bsl) * 2) var(--col-1);
  }
}