<div class="popup popup--error" role="alert" data-popup="error">
  <strong>Error</strong>
  <p>Can't fetch this page right now. Do you have an internet connection? Please try again later.</p>
  <button data-popup="close">Close</button>
</div>