/* Strictly for development/design purposes */

.layout {
  position: fixed;
  top: var(--bsl);
  right: var(--bsl);
  z-index: 100;

  & input[type="checkbox"] {
    position: fixed;
    z-index: 100;
  }

  & input[type="checkbox"]:checked+label {
    display: block;
  }

  & label {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    margin: 0 auto;
    pointer-events: none;

    @media (--tablet-landscape-up) {
      width: 1440px;
      background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.15) 0, rgba(255, 0, 0, 0.15) 119px, transparent 0), -webkit-linear-gradient(top, transparent 29px, rgba(33, 150, 243, 0.5) 30px);
      background-size: 120px 30px;
    }
  }
}