[data-view] {
  opacity: 0;
  transition: opacity .5s linear;

  &.is-active {
    opacity: 1;
  }
}

.lazyLoader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #F9F9F9;
    transition: transform .75s cubic-bezier(.75, 0, .25, 1);
  }

  @media (--phone-only) {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      height: calc(var(--bsl) / 2);
      width: calc(var(--bsl) / 2);
      border-radius: 50%;
      background-color: var(--grey-dark);
      transform: translate(-50%, -50%);
      transition: opacity .25s linear;
      transform-origin: top left;
      animation: pulse .5s infinite alternate;
    }
  }

  &--isDone {
    &::before {
      transform: translate3d(0, 100%, 0);
    }

    @media (--phone-only) {
      &::after {
        opacity: 0;
      }
    }

    & .lazyLoader__image {
      transform: none;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    transform:  scale(1.075);
    transform-origin: bottom center;
    /* Change this for different image size */
    /* Bottom transition looks good on smaller images, not on full screen ones */
    transition: transform .75s cubic-bezier(.75, 0, .25, 1);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100vw;
  padding: var(--bsl) var(--col-1);
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: transform .25s cubic-bezier(.88, 0, 0, 1);

  &--visible {
    opacity: 1;
    transform: none;
  }
  
  &--error {
    background-color: var(--alert);
  }
}