<footer class="page__footer" data-site-footer>
  <small>© 2018</small>
  <button data-scroller-trigger="top">
    Top
    {{!-- <img src="/static/icons/arrow.svg" alt="Back to top"> --}}
  </button>
</footer>