<header class="siteHeader" data-site-header>
  <a class="siteHeader__logo" href="/" data-site-header="logo" data-toggle-display="logo">
    <h1 class="siteHeader__logoType">David van Ochten</h1>
  </a>
  <nav class="menu" data-menu="container">
    <div class="menu__toggle" role="button" data-menu="toggle" tabindex="1">
      <div class="menu__burger" data-toggle-display="menu">
        <span class="menu__burgerLine"></span>
        <span class="menu__burgerLine"></span>
        <span class="menu__burgerLine"></span>
      </div>
    </div>
    <div class="menu__panel" data-menu="panel">
      <ul class="menu__links">
        <li class="menu__item" data-menu="item">
          <a class="menu__link" href="/" data-menu="link">Index</a>
        </li>
        <li class="menu__item" data-menu="item">
          <a class="menu__link" href="/work" data-menu="link">Work</a>
        </li>
        <li class="menu__item" data-menu="item">
          <a class="menu__link" href="/news" data-menu="link">News</a>
        </li>
        <li class="menu__item" data-menu="item">
          <a class="menu__link" href="/about" data-menu="link">About</a>
        </li>
        <li class="menu__item" data-menu="item">
          <a class="menu__link" href="/contact" data-menu="link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="siteHeader__background" data-site-header="background"></div>
</header>