<header class="siteHeader" data-toggle="site-header">
  <a class="siteHeader__logo" href="/" aria-label="Index" data-site-header="logo">
    <h1 class="siteHeader__logotype">
      <span>David</span>
      <span>van</span>
      <span>Ochten</span>
    </h1>
  </a>
  <nav class="menu" data-menu="container">
    <div class="menu__toggle" role="button" aria-label="Toggle menu" aria-pressed="false" tabindex="0" data-menu="toggle">
      <div class="menu__burger">
        <span class="menu__burgerLine"></span>
        <span class="menu__burgerLine"></span>
        <span class="menu__burgerLine"></span>
      </div>
    </div>
    <div class="menu__panel" aria-hidden="true" data-menu="panel">
      <ul class="menu__links">
        <li class="menu__item" data-menu="item">
          <a class="menu__link" href="/" data-menu="link">Index</a>
        </li>
        <li class="menu__item" data-menu="item">
          <a class="menu__link" href="/work" data-menu="link">Work</a>
        </li>
        <li class="menu__item" data-menu="item">
          <a class="menu__link" href="/notes" data-menu="link">Notes</a>
        </li>
        <li class="menu__item" data-menu="item">
          <a class="menu__link" href="/profile" data-menu="link">Profile</a>
        </li>
        <li class="menu__item" data-menu="item">
          <a class="menu__link" href="/contact" data-menu="link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="siteHeader__background" data-site-header="background"></div>
</header>