<header class="site-header">
  <div class="site-header__section">
    <button data-info-trigger><h1>David van Ochten</h1></button>
    <h2>Developer + designer</h2>
  </div>

  <div class="site-header__section">
    <p>Available for new projects</p>
    <a class="cta" href="mailto:dwvanochten@gmail.com">dwvanochten@gmail.com</a>
  </div>
</header>