<div class="splash splash--isVisible" data-splash>
  <div class="splash__header">
    <div class="splash__title">Loading</div>
    <p class="splash__subtitle">Hang in there, champ.</p>
  </div>
</div>