<div class="splash splash--is-visible" data-splash>
  <style>.splash{position:fixed;top:0;left:0;z-index:4;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;height:100vh;width:100vw;font-family:Unica R,Helvetica Neue,sans-serif;opacity:0;-webkit-transition:opacity 0s linear 1.5s;transition:opacity 0s linear 1.5s;pointer-events:none}.splash--is-loaded .splash__row div{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}.splash--is-visible{opacity:1;pointer-events:auto}.splash--is-visible .splash__column{-webkit-transform:translateZ(0);transform:translateZ(0)}.splash__column{width:100%;background-color:#fff;-webkit-transform:translate3d(0,100vh,0);transform:translate3d(0,100vh,0);-webkit-transition:-webkit-transform 1s cubic-bezier(.75,0,.25,1);transition:-webkit-transform 1s cubic-bezier(.75,0,.25,1);transition:transform 1s cubic-bezier(.75,0,.25,1);transition:transform 1s cubic-bezier(.75,0,.25,1),-webkit-transform 1s cubic-bezier(.75,0,.25,1)}@media (min-width:900px){.splash__column:nth-child(4){-webkit-transition-delay:.1s;transition-delay:.1s}.splash__column:nth-child(5){-webkit-transition-delay:.16s;transition-delay:.16s}.splash__column:nth-child(6){-webkit-transition-delay:.2s;transition-delay:.2s}.splash__column:nth-child(7){-webkit-transition-delay:.23s;transition-delay:.23s}.splash__column:nth-child(8){-webkit-transition-delay:.26s;transition-delay:.26s}.splash__column:nth-child(9){-webkit-transition-delay:.29s;transition-delay:.29s}.splash__column:nth-child(10){-webkit-transition-delay:.32s;transition-delay:.32s}.splash__column:nth-child(11){-webkit-transition-delay:.35s;transition-delay:.35s}.splash__column:nth-child(12){-webkit-transition-delay:.38s;transition-delay:.38s}.splash__column:nth-child(13){-webkit-transition-delay:.41s;transition-delay:.41s}.splash__column:nth-child(14){-webkit-transition-delay:.44s;transition-delay:.44s}}.splash__header{position:absolute;top:1.5rem;left:25vw;z-index:1}.splash__headline{font-family:Unica M,Helvetica Neue,sans-serif}.splash__row{overflow:hidden}.splash__row div{-webkit-transition:-webkit-transform .5s cubic-bezier(.5,0,.25,1) .25s;transition:-webkit-transform .5s cubic-bezier(.5,0,.25,1) .25s;transition:transform .5s cubic-bezier(.5,0,.25,1) .25s;transition:transform .5s cubic-bezier(.5,0,.25,1) .25s,-webkit-transform .5s cubic-bezier(.5,0,.25,1) .25s}.splash__row:first-child div{-webkit-transition-delay:.5s;transition-delay:.5s}</style>

  <div class="splash__header">
    <div class="splash__row">
      <div class="splash__headline">Loading</div>
    </div>
    <div class="splash__row">
      <div><span data-progress>00</span><span>%</span></div>
    </div>
  </div>

  <div class="splash__column"></div>
  <div class="splash__column"></div>
  <div class="splash__column"></div>
  <div class="splash__column"></div>
  <div class="splash__column"></div>
  <div class="splash__column"></div>
  <div class="splash__column"></div>
  <div class="splash__column"></div>
  <div class="splash__column"></div>
  <div class="splash__column"></div>
  <div class="splash__column"></div>
  <div class="splash__column"></div>

  <script>document.body.style.overflow='hidden';var splash={};var progress={};splash.root=document.querySelector('[data-splash]');progress.counter=0;progress.factor=1;progress.maxVal=1;progress.minVal=0.1;progress.damping=50;progress.element=document.querySelector('[data-progress]');progress.interval=setInterval(function(){progress.counter=progress.counter+progress.factor;progress.maxVal=Math.max((100-progress.counter)/progress.damping,progress.minVal)
progress.factor=Math.min(Math.max(Math.abs(Math.sin(100-progress.counter)),0.01),progress.maxVal);(progress.counter<9)?progress.element.textContent='0'+Math.ceil(progress.counter):progress.element.textContent=Math.ceil(progress.counter);if(progress.counter>=88){clearInterval(progress.interval);progress.element.textContent=88}},16);window.addEventListener('load',function(){clearInterval(progress.interval);progress.element.textContent=100;splash.root.classList.add('splash--is-loaded');splash.root.addEventListener('transitionend',function(e){if(e.target===splash.root){e.target.parentNode.removeChild(splash.root)}});setTimeout(function(){document.body.removeAttribute('style');splash.root.classList.remove('splash--is-visible')},1000)})</script>
</div>

{{!-- <script>
  document.body.style.overflow = 'hidden';

  var splash = {};
  var progress = {};

  splash.root = document.querySelector('[data-splash]');

  progress.counter = 0;
  progress.factor = 1;
  progress.maxVal = 1;
  progress.minVal = 0.1;
  progress.damping = 50;
  progress.element = document.querySelector('[data-progress]');

  progress.interval = setInterval(function () {
    console.log(Math.ceil(progress.counter));
    progress.counter = progress.counter + progress.factor;
    progress.maxVal = Math.max((100 - progress.counter) / progress.damping, progress.minVal)
    progress.factor = Math.min(Math.max(Math.abs(Math.sin(100 - progress.counter)), 0.01), progress.maxVal);
    (progress.counter < 9)
      ? progress.element.textContent = '0' + Math.ceil(progress.counter)
      : progress.element.textContent = Math.ceil(progress.counter);

    if (progress.counter >= 88) {
      clearInterval(progress.interval);
      progress.element.textContent = 88;
    }
  }, 16);

  window.addEventListener('load', function() {
    clearInterval(progress.interval);
    progress.element.textContent = 100;

    splash.root.classList.add('splash--is-loaded');
    splash.root.addEventListener('transitionend', function(e) {
        if (e.target === splash.root) {
          e.target.parentNode.removeChild(splash.root);
        }
    });

    setTimeout(function() {
      document.body.removeAttribute('style');
      splash.root.classList.remove('splash--is-visible');
    }, 1000);
  });
</script> --}}