<div class="splash splash--isVisible" data-splash>
  <div class="splash__header">
    <div class="splash__title">Loading</div>
    <p class="splash__subtitle">David van Ochten [dot] com</p>
    {{!-- http://dia.tv/ : Uses nice flashing copy --}}
  </div>
</div>