<section class="splash splash--isVisible" data-splash>
  <header class="splash__header">
    <h1 class="splash__title">Loading</h1>
    <h2 class="splash__subtitle">Hang in there, champ.</h2>
  </header>
</section>