<div class="splash splash--is-visible" data-splash>
  <div class="splash__header">
    <div class="splash__title" data-splash-title>
      {{!-- <span>L</span>
      <span>o</span>
      <span>a</span>
      <span>d</span>
      <span>i</span>
      <span>n</span>
      <span>g</span> --}}
    </div>
    <p class="splash__subtitle">
      <span data-progress>00</span>%
    </p>
  </div>

  <script>document.body.style.overflow='hidden';var progress={};progress.counter=0;progress.factor=1;progress.maxVal=1;progress.minVal=0.1;progress.damping=60;progress.element=document.querySelector('[data-progress]');progress.interval=setInterval(function(){progress.counter=progress.counter+progress.factor;progress.maxVal=Math.max((100-progress.counter)/progress.damping,progress.minVal)
progress.factor=Math.min(Math.max(Math.abs(Math.sin(100-progress.counter)),0.01),progress.maxVal);(progress.counter<9)?progress.element.textContent='0'+Math.ceil(progress.counter):progress.element.textContent=Math.ceil(progress.counter);if(progress.counter>=88){clearInterval(progress.interval)}},16);window.addEventListener('load',function(){clearInterval(progress.interval);progress.element.textContent=100});var splash={};splash.root=document.querySelector("[data-splash]"),splash.title=splash.root.querySelector("[data-splash-title]"),window.addEventListener("load",function(){splash.title.classList.add("splash__title--loaded"),splash.root.addEventListener("transitionend",function(t){t.target===splash.root&&t.target.parentNode.removeChild(splash.root)}),setTimeout(function(){document.body.removeAttribute("style"),splash.root.classList.remove("splash--isVisible")},1500)});</script>
</div>